
h1{
	text-align: center;
	color: green;
}
h1:hover{
	color: black;
}
h2{
	text-align: center;
	color: green;
}
h3{
	text-align: left;

}
p{
	
	color: black;

}

 
 .images{
 	float: right;
 	margin: 10px 10px
 }