
h1{
	text-align: center;
	color: green;
}
h1:hover{
	color: black;
}
h2{
	text-align: center;
	color: green;
}
p{
	
	color: black;

}

 .images{
 	float: right;
 	margin: 10px 10px;
 }

 .center{
 	width: 50%;
 	margin: auto;
 }

