
h1{
	text-align: center;
	color: green;
}
h1:hover{
	color: black;
}
h2{
	text-align: center;
	color: green;
}
p{
	text-align: left;
	color: black;

}
.center img{
	display: inline-block;
	margin: 60px 30px ;
}

.centered {
	margin:auto;
	width:80% ;
	text-align: center;
}
.images{
	float: right;
	margin: 50px 40px;
	padding-top: 100px;

}

 

.pandul{
	margin: 20px 20px;
    float: left;
    color: black;
    width: 40%;
    padding: 50px 50px;
}

 
}

.right{
	float: left;
	margin: 20px 20px;
}

<<<<<<< HEAD
	float:  right;

=======
.racipes{
	overflow: auto;
<<<<<<< HEAD
>>>>>>> 721e50ec8d0b7d5041ea581e4085223e8125b337
=======
}

.method{
	width: 70%;
	margin:auto;
>>>>>>> d58de70ced30b06036561f58002c68716d067ccc
}