{% extends "layout.html"%}

{%block head%}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets1/stylehealthyfood.css">
{%endblock%}

{% block body %}

	<h1> Healthy Food </h1>
 
  
<div class="center centered">	 


 
	<img src= "../static/images/breakfast.jpg" height= "150px" width = auto/> 
	 
	<img src= "../static/images/food6.jpg" height= "150px" width = auto/> 
</div>

<div class="center centered">

	 
	<img src= "../static/images/food6.jpg" height= "150px" width = auto/> 
 
	<img src= "../static/images/food6.jpg" height= "150px" width = auto/>

</div>

{% endblock %}