{% extends "layout.html"%}

{%block head%}
<link rel="stylesheet" type="text/css" href="../static/stylesheets1/stylehealthyfood.css">
{%endblock%}

{% block body %}

<h1> Healthy Food </h1>
<div class="racipes">

	<div class= "right">
		<img class= "images" src= "../static/images/foo10.jpg" height= "500px" width = "500px"/>

	</div>
	<div class= "pandul">
		<p><strong>  
			Eggs with peppers<br> </p>
			<p>Ingredients:
				</strong>

				<ul >
					<li><p >2 tbsp olive oil </p></li> 
					<li><p > 2 onions, sliced </p></li>
					<li><p > 1 red or green pepper   </p></li>
					<li><p >halved deseeded and sliced</p></li>
					<li><p >1-2 red chillies</p></li>
					<li><p >deseeded and sliced </p></li>
					<li><p >400g can chopped tomatoes </p></li>
					<li><p > 1-2 tsp caster sugar </p></li>
					<li><p >4 eggs,small bunch parsley</p></li>
					<li><p >roughly chopped</p></li>
					<li><p >6 tbsp thick, creamy yogurt</p></li>
					<li><p> 2 garlic cloves, crushed</p></li>
				</ul>
				 
			</div>
			</div>
			<div class="method" >
				<p><strong>Method:</strong><br><br>
					 

					Heat the oil in a heavy-based frying pan. Stir in the onions, pepper and chillies. Cook until they begin to soften. Add the tomatoes and sugar, mixing well. Cook until the liquid has reduced, season.<br>

					Using a wooden spoon, create 4 pockets in the tomato mixture and crack the eggs into them. Cover the pan and cook the eggs over a low heat until just set.<br>

					Beat the yogurt with the garlic and season. Sprinkle the menemen with parsley and serve from the frying pan with a dollop of the garlic-flavoured yogurt. </p>
				</div>

<div class="racipes">

	<div class= "right">
		<img class= "images" src= "../static/images/foo10.jpg" height= "500px" width = "500px"/>

	</div>
	<div class= "pandul">
		<p><strong>  
			Spicy chicken and avocado wraps <br> </p>
			<p>Ingredients:
				</strong>

				<ul >
					<li><p> 1 chicken breast (approx 180g) </p></li> 
					<li><p >thinly sliced at an angle </p></li> 
					<li><p > generous squeeze juice ½ lime </p></li> 
					<li><p >½ tsp mild chilli powder </p></li> 
					<li><p >1 garlic clove</p></li> 
					<li><p >chopped, 1 tsp olive oil </p></li> 
					<li><p >2 seeded wraps, 1 avocado</p></li> 
					<li><p >roasted red pepper from a jar </p></li> 
					<li><p >slice</p></li> 
					<li><p >a few sprigs coriander </p></li> 
					<li><p >chopped</p></li> 

				</ul> 

				</div>
			</div>
			<div class="method" >
				<p><strong>Method:</strong><br><br>
						Mix the chicken with the lime juice, chilli powder and garlic.
						Heat the oil in a non-stick frying pan then fry the chicken for a couple of mins – it will cook very quickly so keep an eye on it. Meanwhile, warm the wraps following the pack instructions or, if you have a gas hob, heat them over 	the flame to slightly char them. Do not let them dry out or they are difficult to roll.
						Squash half an avocado onto each wrap, add the peppers to the pan to warm them through then pile onto the wraps with the chicken, and sprinkle over the coriander. Roll up, cut in half and eat with your fingers. 
					</p>
				</div>
			</div>








				<div class="racipes">

	<div class= "right">
		<img class= "images" src= "../static/images/foo10.jpg" height= "500px" width = "500px"/>

	</div>
	<div class= "pandul">
		<p><strong>  
			Red lentil and carrot soup <br> </p>
			<p>Ingredients:
				</strong>

				<ul >
					<li><p> 1 white onion </p></li> 
					<li><p >finely sliced</p></li> 
					<li><p > 2 tsp olive oil </p></li> 
					<li><p >½ tsp mild chilli powder </p></li> 
					<li><p >1 garlic clove</p></li> 
					<li><p >sliced ,2 carrots</p></li> 
					<li><p > scrubbed and diced</p></li> 
					<li><p > 85g red lentil </p></li> 
					<li><p >1 vegetable stock cube, crumbled </p></li> 
					<li><p > generous sprigs parsley</p></li> 
					<li><p >chopped (about 2 tbsp) plus a few extra leaves </p></li> 

				</ul> 

				</div>
			</div>
			<div class="method" >
				<p><strong>Method:</strong><br><br>
 
						Put the kettle on to boil while you finely slice the onion. Heat the oil in a medium pan, add the onion and fry for 2 mins while you slice the garlic and dice the carrots. Add them to the pan, and cook briefly over the heat.

						Pour in 1 litre of the boiling water from the kettle, stir in the lentils and stock cube, then cover the pan and 	cook over a medium heat for 15 mins until the lentils are tender. Take off the heat and stir in the parsley. Ladle into bowls, and scatter with extra parsley leaves, if you like. </p>

					</div>

			</div>





					{% endblock %}


