{% extends "layout.html"%}

{%block head%}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets1/stylefood1.css">
{%endblock%}

{% block body %}

	<h1> Healthy Food </h1>

	<div class="right">
		<img class= "images" src="../static/images/food6.jpg" height="400px" width="auto"/>
	</div>


	<div class= pandul>
		<p> <strong>Eating healthy isn’t always easy,<br> but committing to a healthy diet <br>can be the smartest decision you ever<br> make. Why? Not only can <br>eating well make you look and <br>feel better, it can also save you money. <br>If you need some help getting motivated,<br> here are our top reasons to include a <br>few more nutrient-packed foods into your diet.</p> 

		<h2> Here are some important resons of <br>why we should eat healthy food:</h2>

		<ul><li>  Increase productivity</li>
		<li> Save money on health and life insurance</li>
		<li> Enhance mood</li>
		<li> Regulate weight</li>
		<li> Live longer</li>
		</strong></ul>
	</div>
	
{% endblock %}