{%extends "layout.html"%}
{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets1/styleform.css">
{% endblock %}


{% block body %}
	<form action="{{ url_for('contactushere')}}" method="post" class= "center">
		Email:<br>
		<input type="Email" name="Email"><br>
		

		Recipes:<br>
		<textarea class="recipe" type="text" name="Recipe"> </textarea>


		<input type="submit" name="submit" value="submit"> <br>

		
	</form>


	<div class="center">
		<img class= "image" src="../static/images/food4.jpg" height="400px" width="auto"/>
	</div>
	
{% endblock %}
