{% extends "layout.html"%}

{%block head%}
	<link rel="stylesheet" type="text/css" href="../static/stylesheets1/styleworkout.css">
{%endblock%}


{% block body %}

	<h1> Workout </h1>

		<div class=display >
			<div class= handp>
				<h3> <strong>why workout is so important? </h3>
				<p> Working out with consistency is important for achieving fitness results.<br> Creating a workout plan will help you to achieve greater consistency. <br>A commitment to a regular workout regimen will increase your fitness level, improve your health and generate a greater sense of mental well being. </p></strong>
			</div>
			<img class= "images" src="../static/images/workout.jpg" height="400px" width="auto"/>
		</div>
{% endblock %}